MH0001-reads.mbd
MH0001-reads.mct
MH0001-reads.mer
MH0001.des
MH0001.esq
MH0001.lcp
MH0001.llv
MH0001.md5
MH0001.prj
MH0001.sds
MH0001.ssp
MH0001.suf
MH0001.trimmed.fa
MH0001.trimmed.fa.kh
MH0001.trimmed.fa.kh.info
MH0001.trimmed.head176800.fa
bad_reads.wc
bloom_1_1_22.hist
bloom_1_1_22.kh
bloom_1_1_22.kh.info
bloom_1_1_22.time1
bloom_1_1_22.time2
bloom_1_5_22.hist
bloom_1_5_22.kh
bloom_1_5_22.kh.info
bloom_1_5_22.time1
bloom_1_5_22.time2
bloom_2_1_22.hist
bloom_2_1_22.kh
bloom_2_1_22.kh.info
bloom_2_1_22.time1
bloom_2_1_22.time2
bloom_2_5_22.hist
bloom_2_5_22.kh
bloom_2_5_22.kh.info
bloom_2_5_22.time1
bloom_2_5_22.time2
bloom_3_1_22.hist
bloom_3_1_22.kh
bloom_3_1_22.kh.info
bloom_3_1_22.time1
bloom_3_1_22.time2
bloom_3_5_22.hist
bloom_3_5_22.kh
bloom_3_5_22.kh.info
bloom_3_5_22.time1
bloom_3_5_22.time2
bloom_4_1_22.hist
bloom_4_1_22.kh
bloom_4_1_22.kh.info
bloom_4_1_22.time1
bloom_4_1_22.time2
bloom_4_5_22.hist
bloom_4_5_22.kh
bloom_4_5_22.kh.info
bloom_4_5_22.time1
bloom_4_5_22.time2
bloom_5_1_22.hist
bloom_5_1_22.kh
bloom_5_1_22.kh.info
bloom_5_1_22.time1
bloom_5_1_22.time2
bloom_5_5_22.hist
bloom_5_5_22.kh
bloom_5_5_22.kh.info
bloom_5_5_22.time1
bloom_5_5_22.time2
e10_MH0001.trimmed.fa.abundfilt
e10_MH0001.trimmed.fa.abundfilt.abundfilt
e10_MH0001.trimmed.fa.abundfilt.abundfilt.abundfilt
e10_MH0001.trimmed.fa.abundfilt.abundfilt.abundfilt.abundfilt
e10_MH0001.trimmed.fa.abundfilt.abundfilt.abundfilt.abundfilt.unique
e10_MH0001.trimmed.fa.abundfilt.abundfilt.abundfilt.abundfilt.unique.sequence_id
e10_MH0001.trimmed.fa.abundfilt.abundfilt.abundfilt.kh
e10_MH0001.trimmed.fa.abundfilt.abundfilt.abundfilt.kh.info
e10_MH0001.trimmed.fa.abundfilt.abundfilt.abundfilt.unique
e10_MH0001.trimmed.fa.abundfilt.abundfilt.abundfilt.unique.sequence_id
e10_MH0001.trimmed.fa.abundfilt.abundfilt.kh
e10_MH0001.trimmed.fa.abundfilt.abundfilt.kh.info
e10_MH0001.trimmed.fa.abundfilt.abundfilt.unique
e10_MH0001.trimmed.fa.abundfilt.abundfilt.unique.sequence_id
e10_MH0001.trimmed.fa.abundfilt.kh
e10_MH0001.trimmed.fa.abundfilt.kh.info
e10_MH0001.trimmed.fa.abundfilt.unique
e10_MH0001.trimmed.fa.abundfilt.unique.sequence_id
e9_MH0001.trimmed.fa.abundfilt
e9_MH0001.trimmed.fa.abundfilt.abundfilt
e9_MH0001.trimmed.fa.abundfilt.abundfilt.abundfilt
e9_MH0001.trimmed.fa.abundfilt.abundfilt.abundfilt.abundfilt
e9_MH0001.trimmed.fa.abundfilt.abundfilt.abundfilt.abundfilt.unique
e9_MH0001.trimmed.fa.abundfilt.abundfilt.abundfilt.abundfilt.unique.sequence_id
e9_MH0001.trimmed.fa.abundfilt.abundfilt.abundfilt.kh
e9_MH0001.trimmed.fa.abundfilt.abundfilt.abundfilt.kh.info
e9_MH0001.trimmed.fa.abundfilt.abundfilt.abundfilt.unique
e9_MH0001.trimmed.fa.abundfilt.abundfilt.abundfilt.unique.sequence_id
e9_MH0001.trimmed.fa.abundfilt.abundfilt.kh
e9_MH0001.trimmed.fa.abundfilt.abundfilt.kh.info
e9_MH0001.trimmed.fa.abundfilt.abundfilt.unique
e9_MH0001.trimmed.fa.abundfilt.abundfilt.unique.sequence_id
e9_MH0001.trimmed.fa.abundfilt.kh
e9_MH0001.trimmed.fa.abundfilt.kh.info
e9_MH0001.trimmed.fa.abundfilt.unique
e9_MH0001.trimmed.fa.abundfilt.unique.sequence_id
ecoli_ref.fastq.ht.k17
ecoli_ref.fastq.ht.k17.info
ecoli_ref.fastq.ht.k32
ecoli_ref.fastq.ht.k32.info
ecoli_ref.fastq.pos.abund=255
ecoli_ref.fastq.pos17.abund1
ecoli_ref.fastq.pos32.abund1
fp_assessment.out
random_genome_1M.fa
random_kmers_1M_3c.fa
random_reads_1.67M_3c_0.03e.fa
random_reads_2.54M_3c_0.00e.fa
remaining_reads.wc
ecoli_ref.fastq
iowa_prairie_0920.fa.1
iowa_prairie_0920.fa.2
iowa_prairie_0920.fa.3
iowa_prairie_0920.fa.4
iowa_prairie_0920.fa.5
1_part1.des
1_part1.esq
1_part1.lcp
1_part1.llv
1_part1.mbd
1_part1.mct
1_part1.md5
1_part1.mer
1_part1.prj
1_part1.sds
1_part1.ssp
1_part1.suf
1_part1.tally.out
1_part1_22.count.time
1_part1_22.hist
5_part1.des
5_part1.esq
5_part1.lcp
5_part1.llv
5_part1.mbd
5_part1.mct
5_part1.md5
5_part1.mer
5_part1.prj
5_part1.sds
5_part1.ssp
5_part1.suf
5_part1.tally.out
5_part1_22.count.time
5_part1_22.hist
bloom_1_1_22.count.time
bloom_5_1_22.count.time
jelly_1_22.count.time
jelly_1_22.hist
jelly_1_22.search.out
jelly_1_22.time1
jelly_1_22.time2
jelly_1_22_0
jelly_1_22_0.search.out
jelly_5_22.count.time
jelly_5_22.hist
jelly_5_22.time1
jelly_5_22.time2
jelly_5_22_0
jelly_5_22_0.search.out
mkindex_1_part1_22.time
mkindex_5_part1_22.time
suffix_1_part1.time
suffix_5_part1.time
2_part1.des
2_part1.esq
2_part1.lcp
2_part1.llv
2_part1.md5
2_part1.prj
2_part1.sds
2_part1.ssp
2_part1.suf
2_part1_22.hist
3_part1.des
3_part1.esq
3_part1.lcp
3_part1.llv
3_part1.md5
3_part1.prj
3_part1.sds
3_part1.ssp
3_part1.suf
3_part1_22.hist
4_part1.des
4_part1.esq
4_part1.lcp
4_part1.llv
4_part1.md5
4_part1.prj
4_part1.sds
4_part1.ssp
4_part1.suf
4_part1_22.hist
dsk_1_22.time
dsk_2_22.time
dsk_3_22.time
dsk_4_22.time
dsk_5_22.time
iowa_prairie_0920.fa.histo
iowa_prairie_0920.fa.reads_binary
iowa_prairie_0920.fa.solid_kmers_binary
jelly_1_31.hist
jelly_1_31.time1
jelly_1_31.time2
jelly_1_31_0
jelly_2_22.hist
jelly_2_22.time1
jelly_2_22.time2
jelly_2_22_0
jelly_2_31.hist
jelly_2_31.time1
jelly_2_31.time2
jelly_2_31_0
jelly_3_22.hist
jelly_3_22.time1
jelly_3_22.time2
jelly_3_22_0
jelly_3_31.hist
jelly_3_31.time1
jelly_3_31.time2
jelly_3_31_0
jelly_4_22.hist
jelly_4_22.time1
jelly_4_22.time2
jelly_4_22_0
jelly_4_31.hist
jelly_4_31.time1
jelly_4_31.time2
jelly_4_31_0
jelly_5_31.hist
jelly_5_31.time1
jelly_5_31.time2
jelly_5_31_0
mkindex_2_part1_22.time
mkindex_3_part1_22.time
mkindex_4_part1_22.time
suffix_2_part1.time
suffix_3_part1.time
suffix_4_part1.time
